body {
   background-color: gray;
   margin: 10px;
}

.header {
	font-size: .90em;
	margin-left: 18px;
}

#state {
	width: 60px;
}

#loan-type {
	width: 133px;
}

.form {
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 10px;
	float: left;
	width: 140px;
	padding: 0 10px 10px 10px;
}

.form-field {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
	margin: 2px;
}

.heads {
	font-size: .90em;
	margin-left: 7px;
}

.zip {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
	margin: 2px;
	width: 55px;
}

.radio {
	font-size: .5em;
}

.conditions {
	margin: 15px 0 15px 0;
}

.con-text{
	font-size: .60em;
}

.message {
	margin: 10px 0 0 0;

}



